@font-face {
    font-family: Mass-Effect;
    src: url(masseffect.ttf);
}

.page-icon-container {
    padding: 2em;
    margin-top: 2em;
    margin-bottom: -2em;
    width: 100%;
    min-height: 600px;
    background-color: rgb(192, 192, 192, 0.1);
}

.page-icon {
    font-size: 300px;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding: 0;
}


.callout {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    width: 500px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.callout-container-h1 {
    background: rgba(255, 255, 255, 0.3);
}


.callout-container {
    width: 100%;
    text-align: center;
    justify-content: center;
    position: center;
}

.callout-container2 {
    text-align: center;
    justify-content: center;
    color: #F7F7F7;
    font-size: 2em;
    margin-top: 5em;
    margin-bottom: 3em;
    position: center;
    padding: 1em;
    border: 1px solid #FFF;
}

@media screen and (max-width: 800px) {

    .callout-container2 {
        margin-top: 4em;
        margin-bottom: 4em;
    }

}

@media screen and (max-width: 900px) {

    .callout-container2 {
        margin-top: 2em;
        margin-bottom: 3em;
    }

}

@media screen and (max-width: 1000px) {

    .callout-container2 {
        margin-top: 3.7em;
        margin-bottom: 4.9em;
    }

}

@media screen and (max-width: 1100px) {

    .callout-container2 {
        margin-top: 3.7em;
        margin-bottom: 5.9em;
    }

}

@media screen and (max-width: 1200px) {

    .callout-container2 {
        margin-top: 3.7em;
        margin-bottom: 3.9em;
    }

}

.button {
    background-color: #F7F7F7;
    border: none;
    color: white;
    padding: 16px 32px;
}

.callout {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.callout-container-h1 {
    font-family: 'Lato', sans-serif;
    font-size: 2.1em;
    font-weight: bold;
    color: #F7F7F7;
    background: rgba(100, 100, 100, 0.1);
    display: inline-block;
}

#red {
    font-family: 'Lato', sans-serif;
    display: inline-block;
    font-size: 2.1em;
    font-weight: 700;
    height: 80px;
    /*background:	rgba(178,34,34, 0.6);*/
    color: rgba(178, 34, 34, 0.9);;
    background: rgba(100, 100, 100, 0.1);

}

.desc {
    margin-top: -20px;
    font-family: 'Lato', sans-serif;
    width: 100%;
    font-weight: lighter;
    text-align: center;
}

.getStarted {
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background-color: #FFFFFF;
    border: 1px solid #F7F7F7;
    margin-top: 8em;
    margin-bottom: 5em;
    border-radius: 1px;
    transition-duration: 0.4s;
    color: #000000;
}

@media screen and (max-width: 900px) {

    .getStarted {
        margin-top: 5em;
        margin-bottom: 2em;
    }

}

@media screen and (max-width: 1200px) {

    .getStarted {
        margin-top: 5em;
        margin-bottom: 4em;
    }

}

.getStarted:hover {
    text-decoration: none;
    background-color: #ffc300;
    color: #F7F7F7;
}

.video-container {
    height: 800px;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

video {
    object-fit: cover;
    position: relative;
    height: 80vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    box-shadow: 5px 10px 18px #888888;
}

.iconTextTitle {
    font-size: 36px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    
}

.iconText {
    font-size: 20px;

}

.iconDivs {
    min-width: 100%;
    margin: auto;
    text-align: center;
}
